/* -------------------------- CARD ---------------------------- */
.pizza, .massa, .drink, .sobremesa{
    cursor: pointer;
    transition: 0.25s ease-in;
}
.pizza:hover, .massa:hover, .drink:hover, .sobremesa:hover{
    transform: scale(1.025);
    transition: 0.25s ease-in;
}
.carousel-item .pizza{
    background-image: url("images/card-pizza.png");
}
.carousel-item .massa{
    background-image: url("images/card-massa.png");
}
.carousel-item .drink{
    background-image: url("images/card-drink.png");
}
.carousel-item .sobremesa{
    background-image: url("images/card-doce.png");
}
.label-card{
    position: relative;
}
.label-card .position-relative{
    z-index: 5;
}
.card{
    flex-shrink: 0;
}
.overlay-label{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 0, 5, 0.9);
    mix-blend-mode: multiply;
    top: 0;
}
/* ------ CARD CARDAPIO ---------- */

.grid-card .pizza{
    background-image: url("images/grid-pizza-cardapio.png");
}
.grid-card .massa{
    background-image: url("images/grid-massa-cardapio.png");
}
.grid-card .drink{
    background-image: url("images/grid-drink-cardapio.png");
}
.grid-card .sobremesa{
    background-image: url("images/grid-sobremesa-cardapio.png");
}



/* ------------ SEPARADOR E CARDAPIO --------------- */

.separator{
    width: 100vw;
    height: 10px;
}
.separator span:nth-child(1){
    display: block;
    width: 100%;
    height: 100%;
    border-top: 6px dashed rgb(var(--bs-primary-rgb));
}
.separator span:nth-child(2){
    display: block;
    width: 100%;
    height: 100%;
    border-top: 6px dashed rgb(var(--bs-red-rgb));
}

.btn-menu{
    background-color:rgb(var(--bs-red-rgb));
    font-weight: 700;
    font-size: 1.75rem;
    width: 50%;
    border-radius: 0px 0px 40px 40px;
}

.btn-menu:hover{
    background-color:#721117;
}
