
/* ----------- HEADER ------------- */
.btn-header{
    height: 50px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    text-align: center;
}

.anchor-btn-header{
    color: rgb(var(--bs-tertiary-rgb)) !important;
}

/* ----------- NAVBAR ------------- */

.nav-header{
    min-width: 300px;
}

.nav-header .text-display:hover{
    border-bottom: 2px solid;
    border-radius: 5px;
    transition: border-radius 0.1s ease-in;
    transition: border-bottom 0.12s ease-in;
    
}

/* ------------ FOOTER -------------- */
.select-nav{
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgb(var(--bs-primary-rgb));
    transition: 0.1s ease-in;
}

.select-nav::before{
    content: '>';
    font-family: 'Poppins';
    color: rgb(var(--bs-primary-rgb));
    font-weight: 600;
    font-size: 26px;
    margin-right: 3px;
}
.select-nav:hover{
    transition: 0.1s ease-in;
    transform: scale(1.05);
}

.btn-footer{
    width: 19.75rem;
    height: 60px;
}
.anchor-btn-footer{
    font-weight: 700;
    font-size: 20px;
}

.footer i + p{
    margin-bottom: 0;
}