
/* ----------- HEADER ------------- */
.btn-header{
    height: 50px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    text-align: center;
}

.anchor-btn-header{
    color: rgb(var(--bs-tertiary-rgb)) !important;
}

/* ----------- NAVBAR ------------- */

.nav-header{
    min-width: 300px;
}