
/* ------------------ SLIDER ----------------- */
.slider-main{
    position: relative;
    z-index: 1;
    width: 100%;
    
}

.carousel-item{
    width: 100vw;
    height: 650px;
}

.slider-item-1{
    background-image: url("images/img-slider1.png");
}
.slider-item-2{
    background-image: url("images/img-slider2.png");
}
.slider-item-3{
    background-image: url("images/img-slider3.png");
}
.carousel-item .title-carousel {
    font-size: 4.25rem;
}


.carousel-item .card{
    border: 0.25px solid rgb(82, 81, 81);
    overflow: hidden;
    height: 170px;
    width: 170px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.carousel-item .card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
.carousel-item .card .title{
    font-size: 28px;
}

.carousel-item .anchor-btn{
    font-size: 2.5rem;
}

.carousel-item .price{
    font-size: 88px;
}

.carousel-item .title-extra{
    color: #BA4A52;
}

.footer-slider p{
    margin: 0;
}

.carousel-item .btn-primary{
    height: 5.25rem;
    width: 22.75rem;
    font-size: 3rem;
}

.carousel-item .btn-primary a:hover{
    color: rgb(var(--bs-tertiary-rgb)) !important;
}