
/* ------------------ SLIDER ----------------- */
.slider-main{
    position: relative;
    z-index: 1;
    width: 100%;
    
}

.carousel-item{
    width: 100vw;
    height: 650px;
}

.slider-item-1{
    background-image: url("images/img-slider1.png");
}
.slider-item-2{
    background-image: url("images/img-slider2.png");
}
.slider-item-3{
    background-image: url("images/img-slider3.png");
}
.carousel-item .title-carousel {
    font-size: 4.25rem;
}


.carousel-item .card{
    border: 0.25px solid rgb(82, 81, 81);
    overflow: hidden;
    height: 170px;
    width: 170px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.carousel-item .card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
.carousel-item .card .title{
    font-size: 28px;
}

.carousel-item .anchor-btn{
    font-size: 2.5em;
}

.carousel-item .title-extra{
    color: #BA4A52;
}

.footer-slider p{
    margin: 0;
    font-size: 1em;
}

.carousel-item .btn-primary{
    font-size: 3rem;
}

.carousel-item .btn-primary a:hover{
    color: rgb(var(--bs-tertiary-rgb)) !important;
}


/* -------------------- CARDAPIO ------------------ */

#section-menu .grid-card{
    display: grid;
    grid-auto-rows: 110px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.grid-card .card{
    border: none;
    border-radius: 0px;
}
.grid-card .pizza{
    grid-row: 1/5;
}

.grid-card .massa{
    grid-row: 1/6;
}
.grid-card .drink{
    grid-row: 5/11;
}
.grid-card .sobremesa{
    grid-row: 6/11;
}
.grid-card .title h3{
    font-size: 3.25em;
}
.grid-card .subtitle p{
    color: #A9BF69;
    margin: 10px 0 0 0;
    font-size: 1em;
}

.grid-card .label-card{
    padding: 25px 0;
}

@media screen and (max-width: 768px) {
    #section-menu .grid-card{
        grid-template-columns: 100%;
        grid-auto-rows: 255px;
        grid-template-rows: repeat(4, 70vw);
    }
    .grid-card .pizza, .grid-card .massa, .grid-card .drink, .grid-card .sobremesa{
        grid-row:inherit;
    }
    .grid-card .label-card{
        padding: 5vw 0;
    }
}

@media screen and (max-width: 500px){
    .grid-card .subtitle, .grid-card .title{
        font-size: 14px;
    }
}
/* --------------- RODIZIO --------------- */
.img-pizza-rodizio{
    background-image: url('images/pizzas-rodizio.png');
    width: 22vw;
    height: 26vw;
    min-height: 16em;
    min-width: 13em;
}
.img-garcom-rodizio{
    background-image: url('images/garcom-rodizio.png');
    width: 23vw;
    height: 25vw;
    min-height: 16em;
    min-width: 13em;
}

.overlap div:nth-child(2){
   left: 6rem;
   bottom: 10rem;
   min-height: 16rem;
}

.invite{
    background-color: #440005;
    border: 5px dashed rgb(var(--bs-primary-rgb));
    width: 35vw;
    min-width: 25rem;
    height: 578px;
}

.invite p{
    color: rgb(var(--bs-green-ligth-rgb));
    font-weight: 400;
    margin: 0;
}
.invite .btn-reserva, .invite .btn-cardapio{
    transition: 0.2s ease-in;
}

.invite .btn-reserva{
    background-color: rgb(var(--bs-green-rgb));
    
    height: 4.25rem;
    width: 16.5rem;
}
.invite .btn-reserva:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in;
    background-color: rgb(var(--bs-green-rgb));
}
.invite .anchor-reserva{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(var(--bs-green-ligth-rgb));
}
.invite footer p{
    opacity: 0.7;
    font-weight: 600;
}
.invite .btn-cardapio{
    border-radius: 0px 0px 5px 5px;
    background-color: rgb(var(--bs-warning-rgb));
    height: 2.25rem;
    width: 8.25rem;
}
.invite .btn-cardapio:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in;
    background-color: rgb(var(--bs-warning-rgb));
}

.invite .anchor-cardapio{
    font-size: 1rem;
    font-weight: 700;
    
}
@media screen and (max-width: 1060px){
    .container-invite{
        order: 0;
        margin-bottom: 10px;
    }
    .container-images{
        display: flex;
        order: 1;
    }
    .container-images div{
        width: 33vw;
        height: 35vw;
    }
    .overlap div:nth-child(2){
        left: -6vw;
        top: 4rem;
    }
    .invite{
        width: 55vw;
        min-width: 25em;
    }
}
@media screen and (max-width: 500px){
    .container-invite, .container-invite div, .container-images{
        font-size: 14px;
    }
}
/* --------------- TRADIÇÂO --------------- */
#section-tradition{
    margin-top: 5rem;
}
.img-tradicao{
    background-image: url('images/chef1-tradicao.png');
    width: 23.75rem;
    height: 20.5rem;
}
.img-espaco-1{
    background-image: url('images/espaco-tradicao.png');
    width: 20.75rem;
    height: 20.5rem;
}
.img-espaco-2{
    background-image: url('images/chef2-tradicao.png');
    width: 20.75rem;
    height: 20.5rem;
}


@media screen and (max-width: 942px) {
    .div-price, .div-price .btn-warning, .slider-item-1, .footer-slider{
        font-size: 14px;
    }
}