.slider-main{
    position: relative;
    z-index: 1;
    width: 100%;
    
}

.slider{
    position: absolute;
    background-color: aqua;
    z-index:10 ;
    width: 100vw;
    height: 500px;
}

.slider-item-1{
    background-image: url("");
}
.slider-item-2{
    background-image: url("");
}
.slider-item-3{
    background-image: url("");
}