.title-menu{
    font-size: 4.25rem;
    color: rgb(var(--bs-grey-dark-rgb));
}

.square{
    width: 22vw;
    min-width: 240px;
    height: 22vw;
    min-height: 240px;
    margin-bottom: 10px;
}

.rectangle{
    width: 22vw;
    min-width: 240px;
    height: 30vw;
    min-height: 342px;
    margin-bottom: 10px;
}

@media screen and (max-width: 650px){
    .square{
        width: 60vw;
        height: 60vw;
        min-width: 260px;
        min-height: 260px;
    }
}




