/* ------ GRIDS -------- */
.grid-espace{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 80px;
    grid-template-areas: 
    'ft-1 ft-2 ft-3'
    'ft-1 ft-2 ft-3'
    'ft-1 ft-2 ft-3'
    'ft-1 ft-2 ft-3'
    'ft-1 ft-2 ft-3'
    'ft-1 ft-5 ft-3'
    'ft-4 ft-5 ft-6'
    'ft-4 ft-5 ft-6'
    'ft-4 ft-5 ft-6'
    'ft-4 ft-5 ft-6'
    'ft-4 ft-5 ft-6'
    ;
    row-gap: 25px;
}

.image{
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
}
.espace-1{
    background-image: url('images/foto-espaco-1.png');
    grid-area: ft-1;
}
.espace-2{
    background-image: url('images/foto-espaco-2.png');
    grid-area: ft-2;
}
.espace-3{
    background-image: url('images/foto-espaco-3.png');
    grid-area: ft-3;
}
.espace-4{
    background-image: url('images/foto-espaco-4.png');
    grid-area: ft-4;
}
.espace-5{
    background-image: url('images/foto-espaco-5.png');
    grid-area: ft-5;
}
.espace-6{
    background-image: url('images/foto-espaco-6.png');
    grid-area: ft-6;
}