@import url('../components/css/Common.css');
@import url('../components/css/Components.css');
html{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
:root{
    --bs-primary-rgb: 211, 141, 59;
    --bs-secondary-rgb: 100, 79, 79;
    --padding-default: 15%;
    --bs-danger-rgb: 100, 4, 11;
    --bs-tertiary-rgb: 249, 238, 201;
    --bs-warning-rgb: 250, 220, 113;
    --bs-btn-border-radius: 1px;
    --bs-green-rgb: 59, 79, 16;
    --bs-green-ligth-rgb:169, 191, 105;
    --bs-red-rgb:146, 35, 43;
    --bs-red-dark-rgb:68, 0, 5;
    --bs-grey-dark-rgb: 41, 41, 41;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(var(--bs-primary-rgb));
    --bs-btn-border-color: rgb(var(--bs-primary-rgb));
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #C07B2A;
    --bs-btn-hover-border-color: #C07B2A;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #C07B2A;
    --bs-btn-active-border-color: #C07B2A;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgb(var(--bs-primary-rgb));
    --bs-btn-disabled-border-color: rgb(var(--bs-primary-rgb));
}
.btn-warning {
    --bs-btn-color: #000;
    --bs-btn-bg: #FADC71;
    --bs-btn-border-color: #FADC71;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ebc94f;
    --bs-btn-hover-border-color: #ebc94f;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ebc94f;
    --bs-btn-active-border-color: #ebc94f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #FADC71;
    --bs-btn-disabled-border-color: #FADC71;
}
.bg-red-dark{
    background-color: rgb(var(--bs-red-dark-rgb));
}
.text-tertiary{
    color: rgb(var(--bs-tertiary-rgb));
}
.text-tertiary:hover{
    color: rgb(var(--bs-tertiary-rgb));
}
.title-green{
    color: rgb(var(--bs-green-rgb));
    font-size: 4.25rem;
}
.btn a{
    display: block;

}
a{
    text-decoration: none;
}
.container-fluid{
    padding: 0 var(--padding-default);
}

.border{
    border:4px solid rgb(1, 226, 1);
}

.bg{
    background-color: #FFFCF3;
}

.header{
    padding-top: 15px;
    padding-bottom: 15px;
}

.title{
    font-family: 'IM Fell English SC', serif;
}

.text-display{
    font-family: 'Gabriela', sans-serif;
}

.paragraph{
    color: rgb(var(--bs-secondary-rgb));
}
.descriptions{
    width: 40vw;
}
.text{
    color: rgb(var(--bs-grey-dark-rgb));
    font-weight: 700;
    font-size: 19px;
}
.pizza, .massa, .drink, .sobremesa, .slider-item-1, .slider-item-2, .slider-item-3, 
.img-pizza-rodizio, .img-garcom-rodizio, .img-tradicao, .img-espaco-1, .img-espaco-2, .label
{
    background-repeat: no-repeat;
    background-size: cover;
}